.DS_Store
**/*.stl
**/*.dae
**/*.obj
**/__pycache__
ur3e_tensorboard/*
controller/logs
controller/data
policies/gymnasium_env_policies/archive/*
imitation_env/data/*
policies/imitation_env_policies/expert_demos/*
